body {
  background-color: rgb(177, 174, 174);
}

h1 {
  text-align: center;
  text-decoration: underline;
  border: double;
}

h.normal {
  font-weight: normal;
}

img {
  width: 500px;
  height: 300px;
}
